# Forecasting

Using the data collected, we will see if we can fit some reasonable forecasting models and see how they compare to more standard methods like Arp's

In [8]:
import pandas as pd
import numpy as np
import pyaf.ForecastEngine as autof
import matplotlib.pyplot as plt
%matplotlib inline

Load in the .csv files that we created in the `DataCollection` jupyter notebook

In [3]:
FracFocusRegistry_df_MT = pd.read_csv('FracFocus\\FracFocusRegistry_df_MT.csv', low_memory=False)
registryupload_df_MT = pd.read_csv('FracFocus\\registryupload_df_MT.csv', low_memory=False)

hz_wells = pd.read_csv('StateData\\hz_wells.csv', low_memory=False)
hz_wells_prod = pd.read_csv('StateData\\hz_wells_prod.csv', low_memory=False)

We are going to hone in on horizontal, oil producing wells, that were completed in the Bakken and Red River formations. We will also try to take into consideration the initial completion size for the Bakken wells.

In [7]:
hz_bakken_prod = hz_wells_prod[hz_wells_prod['Name_']== 'Bakken']
hz_rr_prod = hz_wells_prod[hz_wells_prod['Name_']== 'Red River']

hz_rr_prod

,rpt_date,API_WELLNO,ST_FMTN_CD,Name_,Lease_Unit,OPNO,CoName,BBLS_OIL_COND,MCF_GAS,BBLS_WTR,DAYS_PROD,AMND_RPT,STATUS,dt_mod
1,01/31/1986,25085214600000,RR,Red River,3257.0,NaN,NaN,610.0,660.0,83,28.0,False,P,NaN
2,01/31/1986,25091215250000,RR,Red River,3276.0,NaN,NaN,1222.0,934.0,11023,31.0,False,P,NaN
4,02/28/1986,25085214600000,RR,Red River,3257.0,NaN,NaN,793.0,893.0,84,28.0,False,P,NaN
5,02/28/1986,25091215250000,RR,Red River,3276.0,NaN,NaN,1092.0,833.0,10044,28.0,False,P,NaN
7,03/31/1986,25085214600000,RR,Red River,3257.0,NaN,NaN,782.0,864.0,93,31.0,False,P,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276291,09/30/2021,25083219410000,RR,Red River,262.0,580.0,XTO Energy Inc.,0.0,0.0,0,0.0,False,NaN,11/01/2021
276778,09/30/2021,25083227580000,RR,Red River,8104.0,580.0,XTO Energy Inc.,556.0,2807.0,2678,30.0,False,NaN,11/01/2021
276974,09/30/2021,25085216560000,RR,Red River,6403.0,779.0,"White Rock Oil & Gas, LLC",0.0,0.0,0,0.0,False,NaN,11/01/2021
277126,09/30/2021,25091217370000,RR,Red River,5568.0,5421.0,"Northern Oil Production, Inc.",304.0,137.0,2183,30.0,False,NaN,11/03/2021
277130,09/30/2021,25091217820000,RR,Red River,7464.0,5421.0,"Northern Oil Production, Inc.",215.0,75.0,607,30.0,False,NaN,11/03/2021